caption{
    margin-bottom: 50px;
    font-weight: 500px;
    font-size: 50px;
}
strong{
    display: inline-block;
    border: solid 1px black;
    font-size: 30px;
    padding: 10px;
    margin-top: 50px;
}